:root {
    --vp-c-brand-1: #714fff;
    --vp-c-brand-2: #714fff;
    --vp-c-brand-3: #714fff;
}

.VPHomeHero {
    .name {
        line-height: 40px;
        font-size: 18px;
        font-weight: 600;
    }
}