:root {
    --vp-c-brand-1: #714fff;
    --vp-c-brand-2: #714fff;
    --vp-c-brand-3: #714fff;
}

@media (min-width: 640px) {
    .VPHomeHero {
        .name {
            line-height: 40px;
            font-size: 32px;
        }
    }
}

@media (min-width: 960px) {
    .VPHomeHero {
        .name,
        .text {
            max-width: 600px;
        }
    }
}
