@media (min-width: 640px) {
    .VPHomeHero {
        .name {
            line-height: 40px;
            font-size: 32px;
        }
    }
}

@media (min-width: 960px) {
    .VPHomeHero {
        .name,
        .text {
            max-width: 600px;
        }
    }
}
